.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  }

.icon {
    display: block;
    width: 260px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
  }

.fb {
    background-image: url(./shared/Add-to-Apple-Wallet-Badge.svg);
    
  }

img {
    max-width: 100%;
    width: 100%;
}